body {
    background: #e9f0ff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

/* Center Box */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 420px;
    background: #fff;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

/* Logo */
.logo img {
    width: 60px;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    font-size: 22px;
    color: #111;
}

.subtitle {
    margin-bottom: 25px;
    color: #777;
    font-size: 14px;
}

/* Toggle Buttons */
.login-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.login-toggle button {
    width: 48%;
    padding: 10px 0;
    border-radius: 10px;
    border: 2px solid #111122;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-toggle button.active {
    background: #0a0a14;
    color: #fff;
}

/* Form Styles */
form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #222;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #f3f3f5;
    margin-bottom: 15px;
    font-size: 15px;
}

.signin-btn {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background: #0a0a14;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.signin-btn:hover {
    opacity: 0.85;
}

/* Demo Credential Box */
.demo-box {
    margin-top: 20px;
    background: #f8f8ff;
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
    color: #555;
    text-align: left;
}

     .notification.success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
            padding: 10px;
            margin-bottom: 10px;
            overflow: hidden;
        }
        .notification.error {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            padding: 10px;
            margin-bottom: 10px;
        }